* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-image: url("./img/rex.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	margin-top: 20px;
	font-size: 40px;
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
}
.dicePanel {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* flex-wrap: wrap; */
	margin: 20px 0 20px 0;
	width: 80vw;
	height: 30vh;
	background-color: rgba(150, 150, 150, 0.5);
	border: solid 3px black;
	border-radius: 10px;
}
.dicePanel p {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	font-size: 4rem;
	font-weight: bold;
}
p {
	outline: none;
}
.blackBtnDice p {
	color: white;
	transform: rotate(-45deg);
}
.redBtnDice p {
	transform: rotate(-45deg);
}
.whiteBtnDice p {
	transform: rotate(-45deg);
}
.diceTrace {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	width: 80vw;
	height: 70vh;
	background-color: rgba(150, 150, 150, 0.5);
	border: solid 3px black;
	border-radius: 10px;
	margin-bottom: 10px;
}

h2 {
	align-self: center;
	top: 0;
}
.redBtn .blackBtn .whiteBtn .redBtn-def .whiteBtn-def {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* padding: 20px; */
}

.redBtnDice:hover {
	box-shadow: 5px 5px 15px red;
}

.blackBtnDice:hover {
	box-shadow: 5px 5px 15px black;
}
.whiteBtnDice:hover {
	box-shadow: 5px 5px 15px white;
}
.redBtnDice-def:hover {
	box-shadow: 5px 5px 15px red;
}
.whiteBtnDice-def:hover {
	box-shadow: 5px 5px 15px white;
}
.redBtnDice {
	width: 70px;
	height: 70px;
	background-color: red;
	transform: rotate(45deg);
	border-radius: 5px;
	margin: 20px 0 20px 5px;
}
.blackBtnDice {
	width: 70px;
	height: 70px;
	background-color: black;
	transform: rotate(45deg);
	border-radius: 5px;
	margin: 20px 0 20px 5px;
}
.whiteBtnDice {
	width: 70px;
	height: 70px;
	background-color: white;
	transform: rotate(45deg);
	border-radius: 5px;
	margin: 20px 0 20px 5px;
}
.redBtnDice-def {
	width: 70px;
	height: 70px;
	background-color: red;
	border-radius: 5px;
	margin: 20px 0 20px 5px;
}
.whiteBtnDice-def {
	width: 70px;
	height: 70px;
	background-color: white;
	border-radius: 5px;
	margin: 20px 0 20px 5px;
}
button {
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: rgb(104, 109, 109);
	color: white;
	cursor: pointer;
}

.redDice {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: red;
	border-radius: 5px;
	margin-right: 40px;
}
.redDice:hover {
	border: 3px solid black;
}
.white {
	font-size: 30px;
}
img {
	width: 40px;
}

.whiteDice {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: white;
	border-radius: 5px;
	margin-right: 40px;
}
.whiteDice:hover {
	border: 3px solid red;
}
.red {
	font-size: 30px;
	color: red;
}
.redAttackDice {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	background-color: red;
	border-radius: 5px;
	margin-right: 40px;
}
.redAttackDice:hover {
	border: 3px solid black;
}
.blackAttackDice {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	background-color: black;
	border-radius: 5px;
	margin-right: 40px;
}
.blackAttackDice:hover {
	border: 3px solid white;
}
.whiteAttackDice {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	background-color: white;
	border-radius: 5px;
	margin-right: 40px;
}
.whiteAttackDice:hover {
	border: 3px solid red;
}
.redAttack {
	font-size: 30px;
	color: red;
	transform: rotate(-45deg);
}
.whiteAttack {
	font-size: 30px;
	color: white;
	transform: rotate(-45deg);
}
.diceButtons {
	margin-bottom: 20px;
}
.deleteAll {
	align-self: flex-end;
	padding: 20px 20px;
	background-color: black;
	font-weight: bold;
	margin-right: 10px;
	transition: background-color 0.3s, color 0.3s;
}
.deleteAll:hover {
	background-color: gray;
	color: black;
}
.rollAll {
	align-self: flex-start;
	padding: 20px 20px;
	background-color: black;
	font-weight: bold;
	transition: background-color 0.3s, color 0.3s;
}
.rollAll:hover {
	background-color: gray;
	color: black;
}

@media (max-width: 576px) {
	h1 {
		margin-top: 10px;
		font-size: 20px;
	}
	.dicePanel {
		flex-wrap: wrap;
		width: 80vw;
		height: 20vh;
	}
	.dicePanel p {
		font-size: 2em;
	}
	.diceTrace {
		height: 40vh;
	}
	img {
		width: 20px;
	}
	.redBtnDice,
	.blackBtnDice,
	.whiteBtnDice,
	.redBtnDice-def,
	.whiteBtnDice-def {
		width: 35px;
		height: 35px;
	}
	button {
		font-size: 8px;
	}
	.whiteAttackDice,
	.blackAttackDice,
	.redAttackDice,
	.whiteDice,
	.redDice {
		width: 35px;
		height: 35px;
	}
	.whiteAttack,
	.redAttack {
		font-size: 15px;
	}
	.white,
	.red {
		font-size: 10px;
	}
	.dicePanel p {
		display: none;
		
	}
}
/* @media (max-width: 768px) {
	.diceTrace {
		height: 45vh;
	}
} */
@media (max-width: 768px) {
	h1 {
		margin-top: 10px;
	}
	.diceTrace {
		height: 40vh;
	}
	.dicePanel {
		height: 20vh;
	}
	.redBtnDice,
	.blackBtnDice,
	.whiteBtnDice,
	.redBtnDice-def,
	.whiteBtnDice-def {
		width: 35px;
		height: 35px;
	}
	.dicePanel p {
		font-size: 2rem;
		
	}
}
@media (max-width: 992px) {
	h1 {
		margin-top: 10px;
		
	}
	.diceTrace {
		height: 40vh;
	}
	.dicePanel {
		height: 18vh;
	}
	.redBtnDice,
	.blackBtnDice,
	.whiteBtnDice,
	.redBtnDice-def,
	.whiteBtnDice-def {
		width: 35px;
		height: 35px;
	}
	.dicePanel p {
		font-size: 2rem;
		
	}
}
/* @media (min-width: 992px) 
@media (min-width: 1200px) */
